/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.wrap {
		width: 78%;

	}
	.header {
		min-height: 758px;
		padding-top: 1.5%;
	
	}
	.cruises__items {
		grid-template-columns: 1fr;
		margin-bottom: 250px;
	}
	.cruises__item:nth-child(1) {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
	}
	
	.cruises__item:nth-child(2) {
		grid-row: 3 / 4;
		grid-column: 1 / 2;
	}
	
	.cruises__item:nth-child(3) {
		grid-row: 4 / 5;
		grid-column: 1 / 2;
	}
	.cruises__item:nth-child(4) {
		grid-row: 5 / 6;
		grid-column: 1 / 2;
	}
	.cruises__item:nth-child(5) {
		grid-row: 6 / 7;
		grid-column: 1 / 2;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}