* {
	margin: 0;
	padding: 0;
}

.link_treangle-black::after {
	content: url("../img/treangle_black.png");
	width: 8px;
	height: 5px;
	margin-left: 7px;
}

.cruises__link_treangle-blue::after {
	content: url("../img/treangle_blue.png");
	width: 5px;
	height: 8px;
	margin-left: 10px;
}

li {
	list-style: none;
}

body {
	font-family: 'Raleway', serif;
	color: #0d3351;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto Slab', sans-serif;
}

a {
	text-decoration: none;
}

.header {
	min-height: 648px;
	background-image: url(../img/bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 1.5%;

}

.wrap {
	width: 68%;
	margin: 0 auto;
	position: relative;
}

.header__top {
	display: flex;
	justify-content: space-between;
}

.header__menu {
	width: 22px;
	height: 16px;
	background-image: url(../img/menu.png);
	cursor: pointer;
}

.list {
	display: flex;
	align-items: center;
}

.header__item {
	margin-left: 20px;
}

.link {
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.7px;
	color: #0d3351;
}

.link p {
	font-size: 12px;
	letter-spacing: 0.5px;
}

.link span {
	font-weight: bold;
}

.link img {
	margin-right: 7px;
}

.header__logo {
	width: 88px;
	height: 88px;
	background-image: url("../img/logo.png");
	margin: 5% auto 2.5%;
}

.header__title {
	margin-bottom: 4.5%;
	font-size: 100px;
	letter-spacing: -2.5px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}

.header__subtitle {
	display: block;
	margin-bottom: 2%;
	font-size: 36px;
	text-transform: none;
	letter-spacing: 1.8px;
}

.button {
	width: 202px;
	height: 47px;
	background-color: #33c7fd;
	display: block;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	padding-top: 15px;
	box-sizing: border-box;
	font-size: 14px;
	letter-spacing: 0.7px;
}

.button:hover {
	background-color: #13b0e9;
}

.button:active {
	background-color: #64d6ff;
}

.header__line {
	width: 58px;
	height: 274px;
	background-image: url("../img/line.png");
	position: absolute;
	left: 45%;
	top: 105%;
}

.main {
	background-color: #f3f3f3;
}

.cruises {
	padding: 15% 0 5%;
}

.cruises__list {
	font-size: 36px;
	letter-spacing: 1.8px;
	text-align: center;
}

.cruises__sort {
	margin-bottom: 3%;
	font-size: 14px;
	letter-spacing: 0.7px;
	text-align: center;
}

.cruises__sort a {
	font-style: italic;
}

.cruises__items {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* здесь хотел использовать minmax для адаптивности.
	например, grid-template-columns: repeat(2, minmax(100px, 300px));
	и эта строчка работает, однако есть одно но - при уменьшении экрана размер картинки остается прежнего размера.
	Отсюда вопрос: как исправить? */
	grid-template-rows: repeat(2, 290px);
	grid-auto-rows: 380px;
	grid-gap: 2% 2.5%;
	margin-bottom: 100px;
}

.cruises__item:nth-child(1) {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.cruises__item:nth-child(2) {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

.cruises__item:nth-child(3) {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
}

.cruises__item {
	position: relative;
	background-color: #fff;
}

.cruises__tag {
	position: absolute;
	top: -7px;
	left: 420px;
}

.cruises__discription {
	padding: 4% 6% 3%;
	font-size: 	14px;
	letter-spacing: 0.7px;
	/* margin-left: 5%; */
}

.cruises__link {
	color: #00a2dd;
	font-size: 18px;
	letter-spacing: 0.9px;
}

.cruises__route {
	margin-top: 0.5%;
}

.cruises__route span, 
.cruises__duration span {
	font-weight: bold;
}

.cruises__duration {
	margin-bottom: 1%;
}

.cruises__price {
	font-size: 30px;
	letter-spacing: 1.5px;
}

.cruises__price span {
	text-decoration: line-through;
	color: rgba(13, 51, 81, 0.55);
}

.footer__wrap,
.footer__list {
	display: flex;
	justify-content: space-between;
}

.footer__infos {
	display: flex;
	justify-content: space-between;
	/* НЕ РАБОТАЕТ. Почему? */
}

.footer__wrap {
	padding: 25px 0;
}

.footer__info {
	flex-direction: column;
	display: flex;
}

.footer__info a {
	margin-bottom: 3px;
}


.footer__link {
	margin-right: 5px;
}

.footer__be-on-line {
	margin-bottom: 10px;
}

.footer__copyright {
	margin-top: -13px;
}